root = true

[*.cs]

charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true

csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:warning
csharp_using_directive_placement = outside_namespace:warning

dotnet_style_namespace_match_folder = true:warning

dotnet_naming_rule.interfaces_begin_with_i.severity = warning
dotnet_naming_rule.interfaces_begin_with_i.symbols = interfaces
dotnet_naming_rule.interfaces_begin_with_i.style = prefix_i

dotnet_naming_symbols.interfaces.applicable_kinds = interface

dotnet_naming_style.prefix_i.required_prefix = I
dotnet_naming_style.prefix_i.capitalization = pascal_case